<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NSS Donation Request {{ donation_request.id_no }} Details</title>
</head>
<body>
    <nav class="light-blue" role="navigation">
        <div class="nav-wrapper container">
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br>
            <h2 class="header center orange-text">NSS Donation Request Details</h2>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card blue-grey darken-2">
                        <div class="card-content white-text">
                            <span class="card-title center">
                                <b>Request ID: {{ donation_request.id_no }}</b>
                            </span>
                            <p>First Name: {{ donation_request.first_name }}</p>
                            <p>Last Name: {{ donation_request.last_name }}</p>
                            <p>Address: {{ donation_request.address }}</p>
                            <p>Phone Number: {{ donation_request.phone_number }}</p>
                            <p>Items to Donate: {{ donation_request.items }}</p>
                            <p>Time of Request: {{ donation_request.time_of_request }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>