<div class="row">

    <form action="#">


        <div class="">
            <table class="col s12 l8 offset-l2 striped responsive-table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                </thead>

                <tbody>
                    {% for slot in slots %}
                    <tr>
                        <td>
                            <center>

                                <input id="choice_{{forloop.counter}}" value="{{slot.slot_id}}" name="slotChoice" type="radio" />
                                <label for="choice_{{forloop.counter}}"> <p style="visibility: hidden;" > {{forloop.counter}}. </p>  </label>
                            </center>
                        </td>
                        <td>{{slot.first_name}} {{slot.last_name}}</td>
                        <td>{{slot.start_time.date}}</td>
                        <td>{{slot.start_time.time}}</td>
                        <td>{{slot.end_time.time}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>

    <script>


    </script>

</div>