NSS_site/NSS_site/__pycache__/
NSS_site/root/
NSS_site/NSS_site/migrations/__init__.py
NSS_site/NSS_site/migrations/0001_initial.py
NSS_site/NSS_site/migrations/__pycache__/__init__.cpython-38.pyc
NSS_site/NSS_site/migrations/__pycache__/0001_initial.cpython-38.pyc
NSS_site/NSS_site/migrations/__pycache__/0002_auto_20210211_1406.cpython-38.pyc
NSS_site/NSS_site/migrations/__pycache__/0003_auto_20210211_1414.cpython-38.pyc
NSS_site/db.sqlite3
NSS_site/db.sqlite3
