.institute-logo {
    max-width: 100%;
    height: 10em;
}

.home-icon {
    font-size: 4rem;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
    position: absolute;
    opacity: 1;
    pointer-events: none;
}